:root {
	--white: #ffffff;
	--black: #000000;
	--background: hsl(210deg, 30%, 8%);
	--navbar-background: hsl(210deg, 38%, 15%);
	--navbar-form-background: hsl(210deg, 30%, 8%);
	--navbar-form-text: #a1aab1;
	--navbar-text-color: #a1aab1;
	--icons-background: #1f2b38;
	--aboutme-background: 	#1f2b38;
	--aboutme-text-color: #a1aab1;
	--navbar-form-text-color: #a1aab1;
	--text-color: #a1aab1;
	--login-background: hsl(210deg, 38%, 15%);
	--login-text-color: #a1aab1;
	--login-border: white;
	--dark-blue-text: #10566f;
	--color-blue: rgb(97, 123, 255);
	--light-blue-text: #1095c1;
	--gray-text: #525b62;
	--light-gray-text: #a1aab1;
	--red: #ff3535;
	--green: #439747;
	--checkbox-border: hsl(210deg, 38%, 15%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

body {
	padding: 25px;
	font-size: 25px;
	background-color: var(--background);
	color: var(--light-gray-text);
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0;
}

.footer {
	bottom: 0%;
	height: 40px;
	width: 100%;
	margin-top: 40px;
	text-align: center;	
	font-size: 18px;
	display: block;
}

.absolute-footer {
	bottom: 0%;
	height: 40px;
	width: 100%;
	margin-top: 40px;
	text-align: center;	
	font-size: 18px;
	display: block;
	position: absolute;
}

nav {
	background-color: var(--navbar-background);
	display: flex;
	align-items: center;
	height: 64px;
	border-radius: 10px;
	width: 70%;
	margin: auto;
	margin-bottom: 85px !important;
}

.logo {
	margin-left: 2%;
	margin-right: 2%;
}

.logo a {
	display: block;
	height: 63px;
	width: 250px;
	margin-left: 2%;
	margin-right: 2%;
}

.logo a img {
	height: 63px;
	width: 250px;
	cursor: pointer;
}

nav form {
	display: flex;
	height: 46px;
	border: 0px;
	border-radius: 10px;
	padding: 2px;
	background-color: var(--navbar-form-background);
	margin-left: 5%;
	width: 175%;
}

.searchbar {
	left: 0;
	margin-left: 0;
}

nav .searchbar form .search-data {
	height: 100%;
	width: 100%;
	padding: 0 10px;
	font-weight: 500;
	background: none;
	border: none;
	color: var(--navbar-form-text);
}

nav form button{
	margin-right: 2px;
	background: transparent;
	border: none;
	cursor: pointer;
	border-radius: 2px;
}

nav form button img {
	width: 40px;
	height: 40px;
	background-color: var(--navbar-background);
	border-radius: 10px;
	padding: 5px;
}

nav form input {
	font-size: 20px;
}

.threelinesmenu {
	width: 25px;
	height: 25px;
	background: transparent;
	display: flex;
}

.allcategoriesbutton {
	border: 0px;
	background-color: transparent;
	color: var(--gray-text);
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	margin-left: 0;
	margin-right: -25%;
	padding: 7 11 7 11;
	padding-bottom: 19.5px;
	padding-top: 19.5px;
}

.allcategoriesbutton p {
	font-size: 20px;
	padding-bottom: 0.5px;
	padding-left: 1px;
	padding-right: 5px;
	font-weight: 500;
	margin-left: 10px;
	color: var(--navbar-text-color);
}

.allcategoriesbutton:hover {
	background-color: rgba(0,0,0,1);
	transition: 1s all ease;
}

.allcategoriesbutton:hover .allcategories, .allcategoriesbutton:hover .allcategoriesbutton p{
	position: absolute;
}

.allcategories:hover .dropdown{
	display: block;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: var(--navbar-background);
	box-shadow: 20px rgba(0,0,0,0.9);
	font-size: 20px;
	width: 18%;
	height: 15%;
	border-radius: 5px;
	box-sizing: border-box;
}

.drp-btn{
	height: 33.3%;
}

.drp-btn-1 {
	border-bottom-right-radius: 5px;
}

.drp-btn-2{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.drp-btn-3 {
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
}

.dropdownimage1,.dropdownimage2, .dropdownimage3 {
	display: none;
	float: right;
	height: 100%;
	width: 40%;
}
.drp-btn {
	width: 60%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.dropdown a {
	color: var(--navbar-text-color);
	text-decoration: none;
	text-align: left;
	padding: 10px;
	font-size: large;
}

.dropdown .drp-btn:hover {
	background-color: rgba(0,0,0,0.7);
	transition: 1s;
}

.aboutmenav {
	margin-left: 21%;
	align-items: right;
}

.aboutmenav button {
	display: inline-block;
	border: 0;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 35px;
	height: 35px;
}

.aboutmenav button:hover {
	border: 1px solid gray;
	transition: 0.3s;
}

.aboutmenav button a {
	display: block;
}

.aboutmenav button img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-left: 1px;
	margin-top: 1px;
}

.notifications {
	margin-left: 2%;
	display: flex;
	position: relative;
}

.notifications button {
	border: 0;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 35px;
	height: 35px;
}

.notifications button:hover {
	border: 1px solid gray;
	transition: 0.3s;
}

.notifications button img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

.notifications:hover .notificationsareawrapper {
	display: block;
	visibility: visible;
}

.notificationsareawrapper {
	display: none;
	visibility: hidden;
	position: absolute;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 35px;
	background-color: var(--navbar-background);
	color: var(--navbar-text-color);
	padding: 10px 5px 5px 5px;
	box-sizing: border-box;
	width: 250px;
	left: -67px;
	font-size: 18px;
}

.notificationsarea {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	text-decoration: none;
}

.notification {
	padding: 5px;
	display: flex;
	cursor: pointer;
	border-radius: 5px;
}

.notification:hover {
	background-color: rgba(0,0,0,1);
}

.login {
	display: flex;
	margin-left: 25px;
}

.login button {
	border: 0;
	cursor: pointer;
	background: transparent;
	border-radius: 5px;
	width: 35px;
	height: 35px;
}

.login button:hover {
	border: 1px solid gray;
	transition: 0.3s;
}

.login button img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background: transparent;
}

.darkmodenav {
	margin-left: 2%;
	margin-right: 2%;
}

.darkmodenav button {
	border: 0;
	cursor: pointer;
	background: transparent;
	border-radius: 5px;
	width: 35px;
	height: 35px;
}

.darkmode {
	--navbar-background: hsl(210deg, 38%, 15%);
	--navbar-text-color: #a1aab1;
	--navbar-form-background: hsl(210deg, 30%, 8%);
	--navbar-form-text: #a1aab1;
	--icons-background: #1f2b38;
	--aboutme-background: #1f2b38;
	--aboutme-text-color: #a1aab1;
	--login-background: hsl(210deg, 30%, 8%);
	--login-text-color: #a1aab1;
	--login-border: white;
	--checkbox-border: hsl(210deg, 30%, 15%);;
	background-color: var(--background);
	color: var(--light-gray-text);
	transition: 0.3s;

}

.lightmode {
	--navbar-background: #232023;
	--navbar-text-color: white;
	--navbar-form-background: rgb(51, 51, 51);
	--navbar-form-text: white;
	--dark-blue-background: #467790;
	--light-blue-text: black;
	--dark-blue-text: black;
	--icons-background: rgb(60, 60, 60);
	--aboutme-background: rgb(45, 45, 45);
	--aboutme-text-color: white;
	--login-background: rgb(180, 180, 180);
	--login-text-color: black;
	--login-border: black;
	--checkbox-border: #a1aab1;
	background-color: var(--white);
	color: var(--black);
	transition: 0.3s;
}

#moon {
	background: transparent;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 1px;
	margin-left: 1px;
	display: none;
}

#sun {
	background: transparent;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 1px;
	margin-left: 1px;
}

.darkmodebutton {
	background: transparent;
	cursor: pointer;
	width: 35px;
	height: 35px;
	border-radius: 5px;
}

.darkmodebutton:hover {
	border: 1px solid gray;
}

.username, .password, .confirmpassword{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	border-radius: 10px;
	color: var(--black);
}

.submitbutton, .cancelbutton {
	background-color: var(--green);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	border: none;
}

.submitbutton:hover, .cancelbutton:hover {
	opacity: 0.7;
}

.loginform-content .cancelbutton {
	width: auto;
	background-color: var(--red);
	margin-top: 25px;
}

.signupform-content .cancelbutton {
	width: auto;
	background-color: var(--red);
}

.signupform {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	color: var(--login-text-color);
	overflow-y: hidden;
}

.loginform {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	color: var(--login-text-color);
}

.loginform-content {
	background-color: var(--login-background);
	margin: 10% auto 15% auto;
	padding: 10px 15px;
	border: 1px solid var(--login-border);
	width: 25%;
	height: 415px;
	border-radius: 25px;
	scroll-behavior: none;
}

.signupform-content {
	background-color: var(--login-background);
	margin: 10% auto 15% auto;
	padding: 10px 15px;
	border: 1px solid var(--login-border);
	width: 25%;
	height: 500px;
	border-radius: 25px;
}

.terms {
	font-size: 15px;
	color: var(--login-text-color);
} 

.loginwindow, .signupwindow {
	margin-top: 25px;
}

.loginform-content .username, .loginform-content .password, .signupform-content .username, .signupform-content .password {
	margin-bottom: 20px;
}

.signupusername {
	margin-top: 50px;
}

.xbutton {
	float: right;
	padding-right:5px;
	color: var(--dark-blue-text);
	font-weight: bold;
}

.xbutton:hover {
	color: var(--red);
}

.forgot {
	float: right;
	margin-right: 5px;
	font-size: 20px;
}

.remember {
	font-size: 15px;
}

.xbutton:hover{
	cursor: pointer;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

.newuser {
	font-size: 16px;
	text-align: center;
}

#message {
	font-size: 15px;
}

code {
	font-size: 14px;
}

.aboutme {
	width: 50%;
	border-radius: 20px;
	background-color: var(--aboutme-background);
	color: var(--aboutme-text-color);
	padding: 15;
	margin: auto;
}

.aboutme img {
	width: 17%;
	height: 17%;
	float: left;
	margin-right: 10px;
}

.aboutmeicons {
	width: 50px;
	height: 50px;
	background-color: var(--icons-background);
	border-radius: 10px;
	margin: 5px;
	position: absolute;
}

#icon1 {
	top: 175px;
	left: 22%;
}

#icon2 {
	top: 235px;
	left: 22%;
}

#icon3 {
	top: 295px;
	left: 22%;
}

.checkbox-wrapper {
	list-style: none;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: auto;
	text-align: center;
}

.checkbox {
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
	margin: 2em;
	width: 200px;
	height: 200px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
	align-items: center;
	padding-top: 30px;
}

.credits {
	font-size: small;
	color: var(--gray-text);
	padding-top: 25px;
	cursor: auto;
}

.checkbox:hover {
	border-color: var(--checkbox-border);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
	cursor: pointer;
}

.checkbox:hover .copy-button {
	display: flex;
}

.copy-button {
	border: none;
	background-color: var(--green);
	color: var(--white);
	font-size: 14px;
	padding: 0.4em;
	top: 10px;
	left: 10px;
	border-radius: 2px;
	display: none;
	position: absolute;
	align-self: flex-start;
	pointer-events: none;
}

.copy-button img {
	width: 20px;
	height: 15px;
	padding-right: 5px; 
}

@media only screen and (min-width: 1880px) {
	
	nav {
		width: 70%;
	}

}

@media only screen and (max-width: 1919px) {
	
	.notificationsareawrapper {
		width: 200px;
		left: -55px;
		font-size: 18px;
	}
}

@media only screen and (min-width: 1820px) and (max-width: 1879px) {
	
	nav {
		width: 73%;
	}

}

@media only screen and (min-width: 1700px) and (max-width: 1819px) {

	nav {
		width: 77%;
	}

}

@media only screen and (min-width: 1600px) and (max-width: 1699px) {

	nav {
		width: 80%;
	}

}

@media only screen and (max-width: 1650px) {
	
	.logo a {
		max-width: 230px;
	}

	.logo a img {
		width: 230px;
	}
	
	nav form {
		margin-left: 12%;
		width: 185%;
	}
	
	.aboutmenav {
		margin-left: 23.5%;
	}	

	.logo {	
		margin-left: 2%;
		margin-right: 2%;
	}
	
	.logo a {
		width: 250px;
		margin-left: 1.5%;
		margin-right: 2%;
	}
	
	.notifications {
		margin-left: 1.5%;
	}
	
	.login {
		margin-left: 1.5%;
	}
	
	.darkmodenav {
		margin-left: 1.5%;
		margin-right: 2%;
	}
	
}

@media only screen and (min-width: 1500px) and (max-width: 1599px) {

	nav {
		width: 83%;
	}

}

@media only screen and (min-width: 1400px) and (max-width: 1499px) {

	nav {
		width: 87%;
	}

}

@media only screen and (max-width: 1450px) { 

	nav form {
		margin-left: 15%;
		width: 190%;
	}
	
	.aboutmenav {
		margin-left: 24%;
	}	

	#icon1, #icon2, #icon3 {
		left: 21%;
	}
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {

	nav {
		width: 90%;
	}

}

@media only screen and (max-width: 1350px) { 
	
	nav {
		width: 100%;
	}

	nav form {
		margin-left: 25%;
		width: 200%;
	}
	
	.aboutmenav {
		margin-left: 26%;
	}	

	.dropdown {
		width: 20%;
		height: 25%;
	}

}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {

	nav {
		width: 93%;
	}

	nav form {
		margin-left: 20%;
		width: 220%;
	}
}

@media only screen and (max-width: 1250px) { 
	
	nav form {
		margin-left: 20%;
		width: 215%;
	}

	.aboutmenav {
		margin-left: 24%;
	}	

	.dropdown {
		width: 25%;
	}

}

@media only screen and (min-width: 1100px) and (max-width: 1199px) {

	nav {
		width: 97%;
	}
	
}

@media only screen and (max-width: 1150px) { 

	nav {
		width: 100%;
	}

	nav form {
		margin-left: 20%;
		width: 220%;
	}
	
	.aboutmenav {
		margin-left: 24%;
	}	

	#icon1, #icon2, #icon3 {
		left: 20%;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1099px) {	
	nav form {
		margin-left: 20%;
		width: 215%;
	}
		
	.aboutmenav {
		margin-left: 22%;
	}	
}

@media only screen and (max-width: 1050px) { 	
	nav form {
		margin-left: 30%;
		width: 205%;
	}
		
	.aboutmenav {
		margin-left: 21%;
	}	

	.dropdown {
		width: 35%;
	}

	.notificationsareawrapper {
		width: 150px;
		left: -45px;
	}
	
}

@media only screen and (min-width: 950px) and (max-width: 999px) {
	nav form {
		margin-left: 30%;
		width: 200%;
	}
	
	.aboutmenav {
		margin-left: 18.5%;
	}		
}

@media only screen and (min-width: 900px) and (max-width: 949px) {
	nav form {
		margin-left: 30%;
		width: 230%;
	}
	
	.aboutmenav {
		margin-left: 18.5%;
	}		
}

@media only screen and (min-width: 800px) and (max-width: 899px) {

	.logo a {
		max-width: 200px;
	}

	.logo a img {
		width: 200px;
	}

	nav form {
		margin-left: 13%;
		width: 150%;
	}
	
	.aboutmenav {
		margin-left: 11%;
	}		

	.checkbox {
		margin: 2em;
		width: 150px;
		height: 150px;
	}
}