:root {
	--white: #ffffff;
	--black: #000000;
	--background: #0d1b2a;
	--navbar-background: #1b263b;
	--navbar-form-background: rgba(42,43,56,.5);
	--navbar-form-text: #5f7adb;
	--navbar-text-color: #5f7adb;
	--icons-background: #1f2b38;
	--aboutme-background: 	#1f2b38;
	--aboutme-text-color: #a1aab1;
	--navbar-form-text-color: #a1aab1;
	--text-color: #a1aab1;
	--login-background: hsl(210deg, 38%, 15%);
	--login-text-color: #a1aab1;
	--login-border: white;
	--dark-blue-text: #10566f;
	--color-blue: rgb(97, 123, 255);
	--light-blue-text: #1095c1;
	--gray-text: #525b62;
	--light-gray-text: #a1aab1;
	--red: #ff3535;
	--green: #439747;
	--checkbox-border: hsl(210deg, 38%, 15%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

body {
	font-size: 25px;
	background-color: var(--background);
	color: var(--light-gray-text);
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0;
}

.footer {
	bottom: 0%;
	height: 40px;
	width: 100%;
	margin-top: 40px;
	text-align: center;	
	font-size: 18px;
	display: block;
}

.absolute-footer {
	bottom: 0%;
	height: 40px;
	width: 100%;
	margin-top: 40px;
	text-align: center;	
	font-size: 18px;
	display: block;
	position: absolute;
}

nav {
	background-color: var(--navbar-background);
	display: flex;
	align-items: center;
	height: 70px;
	width: 100%;
	margin: auto;
}

.logo {
	margin-left: 40px;
	margin-right: 120px;
}

.logo a {
	display: flex;	
		text-decoration: none;

}

.logo a span {
	width: 17rem;
	cursor: pointer;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: +.005em;
	background: -webkit-linear-gradient(135deg, #8e43ed, #580ef6, #23a6d5, #5f7adb, #8000ff);
	background: linear-gradient(-45deg, #8e43ed, #580ef6, #23a6d5, #5f7adb, #8000ff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400% 400%;
	-webkit-animation: gradient 5s ease infinite;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav form {
	display: flex;
	height: 46px;
	border: 1px solid #a2b2ee;
	border-radius: 10px;
	padding: 2px;
	background-color: rgba(42,43,56,.5);
	margin-left: 1rem;
	width: 44rem;
}

.searchbar {
	width: 100%;
}

nav .searchbar form .search-data {
	height: 100%;
	width: 100%;
	padding: 0 10px;
	font-weight: 500;
	background: none;
	border: none;
	color: white;
}

nav form button{
	margin-right: 2px;
	background: transparent;
	border: none;
	cursor: pointer;
	border-radius: 2px;
}

nav form button img {
	width: 40px;
	height: 40px;
	background-color: #5f7adb;
	border-radius: 10px;
	padding: 5px;
}

nav form input {
	font-size: 20px;
}

.threelinesmenu {
	width: 40px;
	height: 40px;
	background: transparent;
	display: flex;
}

.allcategoriesbutton {
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 14px;
	padding-top: 14px;
}

.allcategoriesbutton p {
	font-size: 35px;
	padding-left: 1px;
	padding-right: 5px;
	font-weight: 500;
	margin-left: 10px;
	color: var(--navbar-text-color);
}

.allcategoriesbutton:hover {	
	background-color: #33415c;
	transition: 1s all ease;
}

.allcategoriesbutton:hover .allcategories, .allcategoriesbutton:hover .allcategoriesbutton p{
	position: absolute;
}

.allcategories:hover .dropdown{
	display: block;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: var(--navbar-background);
	box-shadow: 20px rgba(0,0,0,0.9);
	font-size: 20px;
	width: 18%;
	height: 15%;
	box-sizing: border-box;
	z-index: 1;
	border: 1px solid #a2b2ee;
}

.drp-btn{
	height: 33.3%;
}

.dropdownimage {
	background-color: #6E85B2;
	display: none;
	float: right;
	height: 100%;
	width: 40%;
	border-left: 1px solid #a2b2ee;
}

.drp-btn {
	width: 60%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.dropdown a {
	text-decoration: none;
}

.dropdown-text {
	color: var(--navbar-text-color);
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
}

.dropdown .drp-btn:hover {
	background-color: #33415c;
	transition: 1s;
}

.notifications {
	margin: auto;
	align-items: right;
	display: flex;
	position: relative;
}

.notifications button {
	border: 0;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 40px;
	height: 40px;
}

.notifications button:hover {
	outline: 1px solid gray;
	background-color: #5f7adb;
	transition: 1s;
}

.notifications button img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

.notifications:hover .notifications-area-wrapper {
	display: block;
	visibility: visible;
}

.notifications-area-wrapper {
	display: none;
	visibility: hidden;
	position: absolute;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 40px;
	background-color: transparent;
	color: var(--navbar-text-color);
	padding: 10px 5px 5px 5px;
	box-sizing: border-box;
	width: 250px;
	left: -67px;
	font-size: 18px;
	z-index: 1;
}

.notifications-area {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	text-decoration: none;
	border: 1px solid #a2b2ee;
}

.notification {
	padding: 5px;
	display: flex;
	cursor: pointer;
	background-color: #1b263b;
}

.notification:hover {
	background-color: #33415c;
}

.login {
	display: flex;
	margin-left: 2rem;
}

.login button {
	border: 0;
	cursor: pointer;
	background: transparent;
	border-radius: 5px;
	width: 40px;
	height: 40px;
}

.login button:hover {
	outline: 1px solid gray;
	background-color: #5f7adb;
	transition: 1s;
}

.login button img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background: transparent;
}

.darkmodenav {
	margin-left: 2rem;
	margin-right: 2rem;
}

.darkmodenav button {
	border: 0;
	cursor: pointer;
	background: transparent;
	border-radius: 5px;
	width: 40px;
	height: 40px;
}

.darkmode {
	--navbar-background: hsl(210deg, 38%, 15%);
	--navbar-text-color: #a1aab1;
	--navbar-form-background: hsl(210deg, 30%, 8%);
	--navbar-form-text: #a1aab1;
	--icons-background: #1f2b38;
	--aboutme-background: #1f2b38;
	--aboutme-text-color: #a1aab1;
	--login-background: hsl(210deg, 30%, 8%);
	--login-text-color: #a1aab1;
	--login-border: white;
	--checkbox-border: hsl(210deg, 30%, 15%);;
	background-color: var(--background);
	color: var(--light-gray-text);
	transition: 0.3s;

}

.lightmode {
	--navbar-background: #232023;
	--navbar-text-color: white;
	--navbar-form-background: rgb(51, 51, 51);
	--navbar-form-text: white;
	--dark-blue-background: #467790;
	--light-blue-text: black;
	--dark-blue-text: black;
	--icons-background: rgb(60, 60, 60);
	--aboutme-background: rgb(45, 45, 45);
	--aboutme-text-color: white;
	--login-background: rgb(180, 180, 180);
	--login-text-color: black;
	--login-border: black;
	--checkbox-border: #a1aab1;
	background-color: var(--white);
	color: var(--black);
	transition: 0.3s;
}

#moon {
	background: transparent;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	display: none;
}

#sun {
	background: transparent;
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

.darkmodebutton {
	background: transparent;
	cursor: pointer;
	width: 35px;
	height: 35px;
	border-radius: 5px;
}

.darkmodebutton:hover {
	outline: 1px solid gray;
	background-color: #5f7adb;
	transition: 1s;
}

.username, .password, .confirmpassword{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	border-radius: 10px;
	color: var(--black);
}

.submitbutton, .cancelbutton {
	background-color: var(--green);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	border: none;
}

.submitbutton:hover, .cancelbutton:hover {
	opacity: 0.7;
}

.loginform-content .cancelbutton {
	width: auto;
	background-color: var(--red);
	margin-top: 25px;
}

.signupform-content .cancelbutton {
	width: auto;
	background-color: var(--red);
}

.signupform {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	color: var(--login-text-color);
	overflow-y: hidden;
}

.loginform {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	color: var(--login-text-color);
}

.loginform-content {
	background-color: var(--login-background);
	margin: 10% auto 15% auto;
	padding: 10px 15px;
	border: 1px solid var(--login-border);
	width: 25%;
	height: 415px;
	border-radius: 25px;
	scroll-behavior: none;
}

.signupform-content {
	background-color: var(--login-background);
	margin: 10% auto 15% auto;
	padding: 10px 15px;
	border: 1px solid var(--login-border);
	width: 25%;
	height: 500px;
	border-radius: 25px;
}

.terms {
	font-size: 15px;
	color: var(--login-text-color);
} 

.loginwindow, .signupwindow {
	margin-top: 25px;
}

.loginform-content .username, .loginform-content .password, 
.signupform-content .username, .signupform-content .password {
	margin-bottom: 20px;
}

.signupusername {
	margin-top: 50px;
}

.xbutton {
	float: right;
	padding-right:5px;
	color: var(--dark-blue-text);
	font-weight: bold;
}

.xbutton:hover {
	color: var(--red);
}

.forgot {
	float: right;
	margin-right: 5px;
	font-size: 20px;
}

.remember {
	font-size: 15px;
}

.xbutton:hover{
	cursor: pointer;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

.newuser {
	font-size: 16px;
	text-align: center;
}

#message {
	font-size: 15px;
}

code {
	font-size: 14px;
}

.socials {
	position: fixed;
	top: 45%;
	transform: translateY(-50%);
	background-color: #33415c;
	box-shadow: rgba(162, 178, 238, 0.3) 0 0 10px 5px;
	padding: .5rem;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #a2b2ee;
	border-left: none;
}

.platforms {
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.platforms:hover {
	background-color: #a2b2ee;
}

.main-page-wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 5%;
	width: 75%;
	height: auto;
	margin: 10% auto;
}

.aboutme {
	width: 100%;
	color: var(--aboutme-text-color);
}

.aboutme svg {
	margin-bottom: 0.5rem;
}

.transition {
	margin-top: 1.5rem;
	display: inline-block;
	position: relative;
	transition: 1s ease;
}

.transition a {
	text-decoration: none;
	font-size: 1.8rem;
	line-height: 90%;
	letter-spacing: .15em;
	color: var(--color-gray);
}

.transition::after {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	bottom: -0.75rem;
	width: 35%;
	background-color: #1095c1;
	transition: 1s ease;
	pointer-events: none;
}

.transition:hover::after {
	width: 100%;
}

.transition:hover {
	color: #6c28ff;
}

.skills-title {
	font-weight: 700;
	font-size: 2.8rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.skills {
	display: flex;
	flex-wrap: wrap;
}

.skill {
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	font-size: 1.6rem;
	background: rgba(153,153,153,.2);
	border-radius: 5px;
	font-weight: 600;
	color: #1095c1;
	border: 1px solid #a2b2ee;
}

.checkbox-wrapper {
	list-style: none;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: auto;
	text-align: center;
}

.checkbox {
	border-style: solid;
	border-width: 2px;
	border-color: transparent;
	margin: 2em;
	width: 200px;
	height: 200px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
	align-items: center;
}

.credits {
	font-size: small;
	color: var(--gray-text);
	padding-top: 25px;
	cursor: auto;
}

.checkbox:hover {
	border-color: var(--checkbox-border);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
	cursor: pointer;
}

.checkbox:hover .copy-button {
	display: flex;
}

.copy-button {
	border: none;
	background-color: var(--green);
	color: var(--white);
	font-size: 14px;
	padding: 0.4em;
	top: 10px;
	left: 10px;
	border-radius: 2px;
	display: none;
	position: absolute;
	align-self: flex-start;
	pointer-events: none;
}

.copy-button img {
	width: 20px;
	height: 15px;
	padding-right: 5px; 
}

.container {
	color: white;
}