:root {
	--white: #ffffff;
	--black: #000000;
	--dark-blue-background: hsl(210deg, 30%, 8%);
	--light-blue-background: hsl(210deg, 38%, 15%);
	--dark-blue-text: #10566f;
	--color-blue: rgb(97, 123, 255);
	--light-blue-text: #1095c1;
	--gray-text: #525b62;
	--light-gray-text: #a1aab1;
	--red: #ff3535;
	--green: #439747;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

body {
	padding: 25px;
	font-size: 25px;
	background-color: var(--dark-blue-background);
	color: var(--light-gray-text);
	overflow-x: hidden;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	margin-top: 40px;
	text-align: center;	
	font-size: 18px;
}

nav {
	background-color: var(--light-blue-background);
	display: flex;
	align-items: center;
	height: 64px;
	border-radius: 10px;
	width: 70%;
	margin: auto;
	margin-bottom: 30px;
}

.logo a {
	display: block;
	height: 63px;
	width: 250px;
	margin-left: 25px;
	margin-right: 25px;
}

.logo a img {
	height: 63px;
	width: 250px;
	cursor: pointer;
}

nav form {
	display: flex;
	height: 46px;
	border: 0px;
	border-radius: 10px;
	padding: 2px;
	background-color: var(--dark-blue-background);
	margin-left: 10px;
	width: 550px;
}

nav form .search-data {
	height: 100%;
	width: 100%;
	padding: 0 10px;
	font-weight: 500;
	background: none;
	border: none;
	color: var(--light-blue-text);
}

nav form button{
	margin-right: 2px;
	background: transparent;
	border: none;
	cursor: pointer;
	border-radius: 2px;
}

nav form button img {
	width: 40px;
	height: 40px;
	background-color: var(--light-blue-background);
	border-radius: 10px;
	padding: 5px;
}

nav form input {
	font-size: 20px;
}

.threelinesmenu {
	width: 25px;
	height: 25px;
	background: transparent;
	display: flex;
}

.allcategoriesbutton {
	border: 0px;
	background-color: var(--light-blue-background);
	color: var(--gray-text);
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	margin-left: 0;
	padding: 10 10;
}

.allcategoriesbutton p {
	font-size: 20px;
	padding-bottom: 0.5px;
	padding-left: 1px;
	padding-right: 5px;
	font-weight: 500;
	margin-left: 5px;
	color: var(--dark-blue-text);
}

.allcategoriesbutton:hover {
	background-color: rgba(0,0,0,0.8);
	transition: 1s;
}

.allcategories:hover .dropdown{
	display: block;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: var(--light-blue-background);
	box-shadow: 20px rgba(0,0,0,0.9);
	padding-top: 9px;
	font-size: 20px;
	width: 18%;
	height: 15%;
	border-radius: 5px;
	box-sizing: border-box;
}

.drp-btn{
	height: 33.3%;
}

.drp-btn-1 {
	border-bottom-right-radius: 5px;
}

.drp-btn-2{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.drp-btn-3 {
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
}

.dropdownimage1,.dropdownimage2, .dropdownimage3 {
	display: none;
	float: right;
	height: 100%;
	width: 40%;
}
.drp-btn {
	width: 60%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.dropdown a {
	color: var(--dark-blue-text);
	text-decoration: none;
	text-align: left;
	padding: 10px;
	font-size: large;
}

.dropdown .drp-btn:hover {
	background-color: rgba(0,0,0,0.7);
	transition: 1s;
}

.aboutmenav {
	margin-left: 30px;
	align-items: right;
}

.aboutmenav button {
	display: inline-block;
	border: 0;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 35px;
	height: 35px;
}

.aboutmenav button:hover {
	border: 1px solid gray;
	transition: 0.3s;
}

.aboutmenav button a {
	display: block;
}

.aboutmenav button img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-left: 1px;
	margin-top: 1px;
}

.notifications {
	margin-left: 25px;
	display: flex;
}

.notifications button {
	border: 0;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 35px;
	height: 35px;
}

.notifications button:hover {
	border: 1px solid gray;
	transition: 0.3s;
}

.notifications button img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

.login {
	display: flex;
	margin-left: 25px;
}

.login button {
	border: 0;
	cursor: pointer;
	background: transparent;
	border-radius: 5px;
	width: 35px;
	height: 35px;
}

.login button:hover {
	border: 1px solid gray;
	transition: 0.3s;
}

.login button img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background: transparent;
}

.darkmodenav button {
	border: 0;
	cursor: pointer;
	background: transparent;
	border-radius: 5px;
	width: 35px;
	height: 35px;
}

.darkmode {
	background-color: var(--dark-blue-background);
	color: var(--light-gray-text);
	transition: 0.5s;
}

.lightmode {
	background-color: var(--white);
	color: var(--black);
	transition: 0.5s;
}

#moon {
	background: transparent;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 1px;
	margin-left: 1px;
	display: none;
}

#sun {
	background: transparent;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 1px;
	margin-left: 1px;
}

.darkmodebutton {
	background: transparent;
	cursor: pointer;
	margin-left: 25px;
	width: 35px;
	height: 35px;
	border-radius: 5px;
}

.darkmodebutton:hover {
	border: 1px solid gray;
	transition: 0.3s;
}

.username, .password, .confirmpassword{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid gray;
	box-sizing: border-box;
	border-radius: 10px;
	color: var(--black);
}

.submitbutton, .cancelbutton {
	background-color: var(--green);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	border: 1px solid gray;
}

.submitbutton:hover, .cancelbutton:hover {
	opacity: 0.8;
}

.loginform-content .cancelbutton {
	width: auto;
	background-color: var(--red);
	margin-top: 25px;
}

.signupform-content .cancelbutton {
	width: auto;
	background-color: var(--red);
}

.signupform {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	color: var(--light-gray-text);
}

.loginform {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	color: var(--light-gray-text);
}

.loginform-content {
	background-color: var(--light-blue-background);
	margin: 10% auto 15% auto;
	padding: 10px 15px;
	border: 1px solid gray;
	width: 25%;
	height: 45%;
	border-radius: 25px;
}

.signupform-content {
	background-color: var(--light-blue-background);
	margin: 10% auto 15% auto;
	padding: 10px 15px;
	border: 1px solid gray;
	width: 25%;
	height: 53%;
	border-radius: 25px;
}

.terms {
	font-size: 15px;
	color: var(--light-gray-text);
} 

.loginwindow, .signupwindow {
	margin-top: 25px;
}

.loginform-content .username, .loginform-content .password, .signupform-content .username, .signupform-content .password {
	margin-bottom: 20px;
}

.signupusername {
	margin-top: 50px;
}

.xbutton {
	float: right;
	padding-right:5px;
	color: var(--dark-blue-text);
	font-weight: bold;
}

.forgot {
	float: right;
	margin-right: 5px;
	font-size: 20px;
}

.remember {
	font-size: 15px;
}

.xbutton:hover{
	cursor: pointer;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

.newuser {
	font-size: 16px;
	text-align: center;
}

#message {
	font-size: 15px;
}

.test {
	text-align: center;
}

code {
	font-size: 14px;
}

.aboutme {
	width: 50%;
	border-radius: 20px;
	background-color: var(--light-blue-background);
	color: var(--dark-blue-text);
	padding: 15;
	margin: auto;
}

.aboutme img {
	width: 17%;
	height: 17%;
	float: left;
}

.aboutmeicons {
	width: 50px;
	height: 50px;
	background-color: var(--dark-blue-text);
	border-radius: 10px;
	margin: 5px;
	position: absolute;
}

#icon1 {
	top: 12.5%;
	left: 22%;
}

#icon2 {
	top: 18.5%;
	left: 22%;
}

#icon3 {
	top: 24.5%;
	left: 22%;
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}